<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    {% extends 'base/index.html' %} 
    {% block content %}
    <div class="header-bar">
        <h1>Register</h1>
    </div>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <label>{{form.username.label}}</label>
            {{form.username}}
            <label>{{form.password1.label}}      <i>(8-characters)</i></label>
            {{form.password1}}
            <label>{{form.password2.label}}</label>
            {{form.password2}}
            
            <input class ="button" style="margin-top: 10px;" type="submit" value="Register">
    
        </form>
        <p>Have an account?<a href="{% url 'login' %}">Login</a></p>
    </div>
    
    {% endblock content %}

</body>
</html>