<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base/index.html' %} 
    {% block content %}
    <div class="header-bar">
        <a href="{% url 'tasks' %}">&#8592 Back</a>


    </div>

    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <p>Are you sure u want to delete task?"{{task}}"</p>
            <input class ='button' type="submit" value="Delete"/>
        </form>
    </div>
    
    {% endblock content %}

</body>
</html>