<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create task</title>
</head>
<body>
    {% extends 'base/index.html' %} 
    {% block content %}
    <div class="header-bar">
        <a href="{% url 'tasks' %}">&#8592 Back</a>
    </div>
<div class="card-body">
    <h1>Create Task</h1>
    <form method="POST" action="">
        {%csrf_token%}
        {{form.as_p}}
        <input class ="button" type="submit" value="Submit">

    </form>
</div>

    
{% endblock content %}

</body>
</html>